*{
    margin: 0;
    padding: 0;
  }

  .home-container {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 50px;
  }

  .navbar {
    min-height: 100px;
    background-color: #121817;
  }

  .navbar-brand i {
    font-size: 30px; 
    color: #ced7dd;
  }

  #add-new-task-link, .add-task-button {
    background-color: #569ccc;
    color: rgb(243, 249, 249);
  }

  .home-card, .add-task-form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .home-card-body:hover {
    color: #055e2c;
    transition: all 0.6s ease-out;
    opacity: 1;
    border: 1px solid #00838d;
  }

  .edit-task-link i, .delete-task-link i {
    font-size: 25px; 
    color: rgb(0, 0, 0);
  }

  .add-task-form {
    width: 70%;
    min-height: 450px;
  }

  .add-task-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }

  .cancel-add-task-button {
    background-color: #728984;
    color: #f7fafd;
  }


footer {
    background-color: #121817;
    color: #ced7dd;
    width:100%;
    position: fixed; 
    bottom: 0;
}




